
body {
    background-image: url("../images/day-time.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Arial', sans-serif;
    color: #6b4226;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between; /* To push footer down */
    min-height: 100vh;
}

header, footer {
    background-color: rgba(255, 204, 51, 0.8);
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    margin: 10px;
    width: 90%;
}

main {
    background-color: rgba(255, 255, 255, 0.5); 
    border-radius: 5px;
    padding: 20px;
    width: 80%;
    margin: 10px auto; /* Centering main with auto margin */
}

button {
    background-color: #4aa1f0;
    color: black;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #3b87c9;
}

.metric-label, .button-label {
    font-weight: bold;
}

#tamagotchi-image {
    width: 150px;
    height: 150px;
    object-fit: cover;
}

#petStatus {
    text-align: center; /* Aligning pet name, metrics, and image */
}

#buttons {
    display: flex;
    justify-content: center; /* Centering buttons horizontally */
    gap: 10px;  /* Provides space between buttons */
}

#petImage {
    display: flex;
    justify-content: center;  /* Centering image horizontally */
}

#petStatus h2 {
    color: #4aa1f0;
}

footer {
    width: 100%; /* Ensuring footer takes full width */
}
